<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504753340563-hjk36hld9irgfluoqf3h9cvsuar5d9ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504753340563-hjk36hld9irgfluoqf3h9cvsuar5d9ns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>504753340563-2q0q2kqhdn5v05ib8bqj2i3fi8gh1673.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoz5AEiCvRroIZbuU2b-_kooitIjT28H8</string>
	<key>GCM_SENDER_ID</key>
	<string>504753340563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoapp</string>
	<key>PROJECT_ID</key>
	<string>cryptoapp-88674</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoapp-88674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504753340563:ios:8fa2838013073184f78d66</string>
</dict>
</plist>